
#memory_board {
	background: #272727;
	border: #272727 1px solid;
	width: 398px;
	height: 262px;
	margin: 0px auto;
}

#memory_board > div{
	background: black;
	border: #32CD32 1px solid;
	width: 58px;
	height: 57px;
	float: left;
	margin: 3px;
	font-size: 40px;
	cursor: pointer;
	text-align: center;
	font-family: monospace;
	
	
}

.btn {
  border:1px solid #32CD32;
  background: none;
  padding: 10 20px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

a {
  color: inherit;
}

.btn1 {
  color: #32CD32;
  text-decoration: none;
}


.btn1:hover {
  color: #272727;
}



.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #32CD32;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}


.btn1:hover::before {
  height: 180%;
}

