

.p {
  padding-top: 0vh;
  margin-bottom: 30px;
  text-shadow: 0px 5px #295C7F;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;

  font-size: 40px;
  font-weight: 700;
  color: #32CD32;
}

.contact-form {
  width: 300px;
  margin: 0 auto;
}

.contact-form input {
  width: 90%;
  height: 34px;
  padding: 0 6%;
  margin-top: 10px;
  border: none;
  border-radius: 14px;
  background-color: #272727;
  box-shadow: 0px 3px 0px 0px #32CD32;
  font-size: 17px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 400;
  color: #32CD32;
}

.contact-form textarea {
  width: 90%;
  height: 200px;
  padding: 10px 3%;
  margin-top: 10px;
  border: none;
  border-radius: 14px;
  background-color: #272727;
  box-shadow: 0px 3px 0px 0px #32CD32;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Gloria Hallelujah', cursive;
  color: #32CD32;
  resize: none;
}

.contact-form button {
  display: block;
  width: 40%;
  height: 40px;
  margin: 30px auto 20px;
  border: none;
  border-radius: 4px;
  background-color: #272727;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 700;
  color: #32CD32;
  box-shadow: 0px 5px 0px 0px #32CD32;
  cursor: pointer;
}

.contact-form button:hover {
  box-shadow: 0px 5px 0px 0px transparent;
  position: relative;
  top: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #32CD32;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #32CD32;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #32CD32;
}
:-moz-placeholder { /* Firefox 18- */
  color: #32CD32;
}

input:focus, textarea:focus {
  box-shadow: 0px 3px 0px 0px transparent;
  position: relative;
  top: 3px;
}
